PublicationsRouter/v2/sword-out/pubrouter-xml/pubrouter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
    targetNamespace="http://pubrouter.jisc.ac.uk/rioxxplus"
    xmlns:rioxxterms="http://www.rioxx.net/schema/v2.0/rioxxterms/"
    xmlns:ali="http://ali.niso.org/2014/ali/1.0"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"
    xmlns="http://pubrouter.jisc.ac.uk/rioxxplus">
    <xs:import namespace="http://www.rioxx.net/schema/v2.0/rioxxterms/"
        schemaLocation="http://rioxx.net/schema/v2.0/rioxx/rioxxterms.xsd"/>
    <xs:import namespace="http://www.niso.org/schemas/ali/1.0"
        schemaLocation="http://www.niso.org/schemas/ali/1.0/ali.xsd"/>
    <xs:import namespace="http://purl.org/dc/terms/"
        schemaLocation="http://www.dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema made for JISC Publications Router

            Created 2017-08

            This schema is to expose maximum meta-data in XML format for recipients, such as repositories to receive and ingest.

            External documentation:
                For rioxxterms documentation, view documentation at http://www.rioxx.net/schema/v2.0/rioxx/
                For dcterms documentation, view documentation at http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=terms
                For ali documentation, view documentation at http://www.niso.org/apps/group_public/download.php/14226/rp-22-2015_ALI.pdf
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="contributor_type">
        <xs:all>
            <xs:element name="type" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Type of the contributor, such as "editor".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="id" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Identifier for this contributor, such as ORCID.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="email" minOccurs="0" maxOccurs="unbounded" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Email address for this contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="surname" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Surname of this contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="firstnames" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Comma separated first names for this contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="suffix" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Name suffix for this contributor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="org_name" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Name of the organisation that authored this article.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:element name="entry">
        <xs:complexType>
            <xs:all>
                <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Information to be displayed in Additional Information (publicly visible meta-data)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="comment" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Miscellaneous information to be displayed in Comments and Suggestions field (private meta-data)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="relation" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Resource links for this meta-data - for example, a link to the article on the publisher's website

                            Attributes:
                                url - link to item
                                format - mimetype of item
                                packaging (optional) - packaging identifier)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="url" type="xs:string" use="required"/>
                                <xs:attribute name="format" type="xs:string" use="required"/>
                                <xs:attribute name="packaging" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="source">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Name of source, such as a Journal.

                            Attributes:
                                volume - the volume
                                issue - Issue number
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="volume" type="xs:string"/>
                                <xs:attribute name="issue" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="source_id" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Identifiers for the source (Journal, etc)

                            The mandatory type attribute indiciates the type of identifier (issn, doi, etc)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="dcterms:publisher" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="dcterms:medium" minOccurs="0"/>
                <xs:element ref="dcterms:title"/>
                <xs:element ref="rioxxterms:type" minOccurs="0"/>
                <xs:element ref="dcterms:type" minOccurs="0"/>
                <xs:element ref="rioxxterms:version" minOccurs="0"/>
                <xs:element name="start_page" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Start page of the article
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="end_page" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            End page of the article
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="page_range" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Range of pages the article is using(200 or 200,207 or 200-230)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="num_pages" minOccurs="0" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Total number of pages the article refers to
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="dcterms:language" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="dcterms:abstract" minOccurs="0"/>
                <xs:element name="identifier" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Resource (article) identifier such as a DOI URI. The type attribute specifices type of identifier (DOI, etc)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="type" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="rioxxterms:version-of-record" minOccurs="0"/>
                <xs:element ref="dcterms:subject" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="dcterms:dateAccepted" minOccurs="0"/>
                <xs:element ref="rioxxterms:publication_date" minOccurs="0"/>
                <xs:element name="history_date" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Dates of historical changes to the article including the publication date
                            (date of accepted manuscript, etc)
                            Attributes:
                                type - Indicates a type of date, such as "received", "accepted"
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="type" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="rioxxterms:project" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ali:free_to_read" minOccurs="0"/>
                <xs:element name="license" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            License information about this publication

                            Attributes:
                                start_date - Start date of license
                                url (optional) - URL of license
                                version (optional) - Version of license
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="start_date" type="xs:date" use="required"/>
                                <xs:attribute name="url" type="xs:string"/>
                                <xs:attribute name="version" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="embargo" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            When an embargo starts or ends for this publication

                            Attributes:
                                start_date - Date embargo starts
                                end_date - Date embargo ends
                                (Note - you must have one of these two, but you do not need both.)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="start_date" type="xs:date"/>
                        <xs:attribute name="end_date" type="xs:date"/>
                        <xs:assert test="(@start_date or @end_date)"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="author" minOccurs="0" maxOccurs="unbounded" type="contributor_type">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Author details, including name and other information where available such as email, ORCID etc.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="contributor" minOccurs="0" maxOccurs="unbounded" type="contributor_type">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Contributor details, including name and other information where available, such as email, ORCID etc
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="download_link" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            PubRouter specific download links that come from PubRouter's own API

                            Attributes:
                                url - link to the item
                                filename - Name that should be given to the file within the repository
                                format - Item mime type
                                packaging (optional) - For zip files only - packaging identifier
                                primary - With value true or false - if true the repository is expected to associate license,
                                    embargo and similar information with the file and list it ahead of any files
                                    with primary set to false.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="url" type="xs:string" use="required"/>
                                <xs:attribute name="filename" type="xs:string" use="required"/>
                                <xs:attribute name="format" type="xs:string" use="required"/>
                                <xs:attribute name="packaging" type="xs:string"/>
                                <xs:attribute name="primary" type="xs:boolean" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>
